#top_carousel {
  background: orange;
  position: relative;
  overflow: hidden;
}

#top_carousel .item {
}

.carousel-indicators {
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(0,0,0,0.75);
  width: 100%;
  left: 0;
  text-align: right;
}

.navbar-inverse .navbar-brand {
  max-width: 300px;
  color: #9E8352;
  color: #CC9933;
  font-size: 24px;
  font-family: "orbitronblack";
  padding-right: 5px;
}

#updates {
  padding-left: 0px;
}

#left_bar {
  padding-left: 0px;
  line-height: 15px;
}

#left_bar img{
  width: 100%;
  padding-bottom: 10px;
}
#left_bar #logo {
  line-height: 15px;
  font-size: 12px;
}

#left_bar .nav {
  font-size: 14px;
}

#left_bar .nav li a{
  padding-top: 4px;
  padding-bottom: 4px;
}

#left_bar h4 {
  color: #c08a00;
  background: #333;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  font-family: "orbitronlight";
}

.nav {
  font-size: 16px;
}

#left_bar a {
  color: black;
}
#left_bar a:hover {
  color: #c08a00;
  background: #333;
}

#main_content {
}

#main_content hr {
  margin-top: 5px;
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 15px;
  font-family: "orbitronregular";
}

.blog_excert {
  padding-bottom: 24px;
}

.blog_preview {
  height: 150px;
}

.blog_preview time{
  font-size: 12px;
  color: #808080;
}

.blog_preview img {
  width: 150px;
  height: auto;
  margin-right: 5px;
}

.blog_preview_text {
  line-height: 15px;
  margin-bottom: 15px;
}

.blog_preview_text h4 a{
  margin-right: 5px;
}

.gen_post img {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gen_post .title {
  margin-top: 0px;
}
.gen_post .author {
  margin-top: -10px;
}
.gen_post time {
  margin-top: -10px;
  margin-right: 5px;
}

.gen_post .tags {
  margin-top: 21px;
}

.gen_post .post_header {
  color: #000;
}
.gen_post a {
  color: #c08a00;
}
.gen_post a:hover {
  color: #000;
  text-decoration: none;
}

h2 {
  font-family: "orbitronlight";
}
.post_header {
  font-family: "orbitronlight";
}
.post_header h4{
  font-family: "orbitronlight";
}

