---
extends: base.j2
default_block: main
title: Home
description: Home page for the Harvey Mudd Combat Robot Club
---

{% from "macros.j2" import render_carousel with context %}

{% from "macros.j2" import render_links with context %}
<div id="left_bar" class="col-lg-3"> 
  <div id="logo">
    {{ "<img src='%s'/>"|format(media_url("front/robesfront.png")) }}
    The Harvey Mudd College Combat Robot Club operates out of Claremont, California
    and seeks to educate its' members about a variety of design and fabrication principles
    as well as smashing robots!
  </div>
  <h4> Events </h4>
  <h4>Tags </h4>
    <ul class="nav nav-pills nav-stacked">
      {% for tag, meta in site.tagger.tags -%}
        <li>
          <a href="/blog/tags/{{tag}}.html"> {{tag}} </a>
        </li>
      {%- endfor %}
    </ul>
  <h4> Links  </h4>
    {{ render_links(front_links) }}
</div>

<div class="col-lg-9" id="updates"> 
  {{ render_carousel(front_carousel_items) }}
  <h2>  Updates <hr> </h2>

  {% from "macros.j2" import render_excerpt with context %}
  <section class="blog_excerpt">
  {% set latest = site.content.walk_resources_sorted_by_time() %}
  {% for post in latest[:3] %}
  {{ render_excerpt(post) }}
  {% endfor %}
</section>
</div>

