<!doctype html>
<!-- generated using hyde -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %} | {{ short_title }}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
    <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/fonts.css') }}">
  {% endblock css %}
  {% block extracss %}
  {% endblock extracss %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}

</head>

{% from "macros.j2" import render_links with context %}

<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
    {% block topbar %}
    <div class = "navbar-inverse navbar navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="#">{{ short_title }}</a>
          {% from "macros.j2" import render_nav with context %}
          {{ render_nav(main_nav) }}
          <div class="pull-right">
            {{ render_nav(right_nav) }}
          </div>
      </div>
    </div>
    {% endblock %}

    <div class="container" id="main_container">
      <div id="main" role="main">
        <div id="left_bar" class="col-lg-3 col-2"> 
          <div id="logo">
            {{ "<img src='%s'/>"|format(media_url("front/robesfront.png")) }}
            The Harvey Mudd College Combat Robot Club operates out of Claremont, California
            and seeks to educate its' members about a variety of design and fabrication principles
            as well as smashing robots!
          </div>
          <h4> Events </h4>
            <ul class="nav nav-pills nav-stacked">
              {% for event in site.content.walk_resources_sorted_by_upcoming() %}
                <li>
                <a href={{ event.url }}> {{ event.meta.title }} 
                  <div class="pull-right"> {{event.meta.start_time.strftime('%m-%d %I:%M')}} </div>
                </a>

                </li>
              {% endfor %}
            </ul>
          <h4>Tags </h4>
            <ul class="nav nav-pills nav-stacked">
              {% for tag, meta in site.tagger.tags -%}
                <li>
                  <a href="/blog/tags/{{tag}}.html"> {{tag}} </a>
                </li>
              {%- endfor %}
            </ul>
          <h4> Links  </h4>
            {{ render_links(front_links) }}
        </div>

        <div class="col-lg-9 col-10" id="main_content"> 
          {% filter markdown|typogrify -%}
          {% block main %}
          {% endblock main %}
          {%- endfilter %}
        </div>
      </div>
    </div> <!--! end of #main_content -->
  <footer>
  </footer>
  {% endblock content%}

  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
  {% endblock jquery %}
  <script src="{{ media_url('js/bootstrap.min.js') }} "></script>

  {% block scripts %}
  <script>
    $(document).ready(function() {
      $('.carousel').carousel(
      {
        interval: 5000
      }
      );
    });
  </script>
  {% endblock scripts %}


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
