{% extends "base.j2" %}

{% block main -%}
<article class="gen_post">

<div class="post_header">
<h1 class="title pull-left">
    <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h1>
{% if resource.meta.tags %}
  <ul class="tags list-inline pull-right">
    {% for tag in resource.meta.tags %}
    <li>
      <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
<div class="clearfix"></div>
<h4 class="author pull-left">
  {{ resource.meta.author }}
</h4>
</div>

<time class="pull-right" datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>
<div class="clearfix"></div>
<hr>
<br>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

<nav class="post_nav">
<a class="prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    Previous
</a>

<a class="pull-right next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    Next
</a>

<br>
</nav>
</article>

{%- endblock %}
