{% macro render_excerpt(res) %}
{% refer to res.url as post %}

<div class="blog_preview">
  <a class="pull-left" href="#">
    {# <img class="media-object" src="{{ post.image }}"> #}
    {{ "<img alt='%s' src='%s'/>"|format(res.title, media_url(res.meta.main_img)) }}
  </a>
  <div class="blog_preview_text">
    <h4><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a>
      <small>{{res.meta.author}}</small>
        <time class="pull-right" datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
          {{ res.meta.created.strftime('%a, %d %b %Y') }}
        </time> 
      </h4>
    {{ post.excerpt|markdown|typogrify }}
  </div>
<a class="pull-right" href="{{ content_url(res.url) }}">Read More&hellip;</a>
</div>
{% endmacro %}

{% macro render_nav(menu) -%}
{% if menu -%}
  <ul class="nav navbar-nav">
      {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['button', 'white'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        {% do classes.append("dropdown") if item.nested -%}

        {% if item.nested -%}
          <li class="{{ classes|join(' ') }}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{item.name }}
              <span class="caret"></span>
            </a>
            <ul class = "dropdown-menu">
              {% for subitem in item.nested -%}
                <li> 
                    <a title="{{ subitem.description }}"
                        href="{{ content_url(subitem.url) }}">
                        {{ subitem.name }}
                    </a>
                </li>

              {%- endfor %}
            </ul>
          </li>
        {% else -%}
          <li class="{{ classes|join(' ') }}">
              <a title="{{ item.description }}"
                  href="{{ content_url(item.url) }}">
                  {{ item.name }}
              </a>
          </li>
        {%- endif %}
      {%- endfor %}
  </ul>
{%- endif %}
{%- endmacro %}

{% macro render_carousel(items) -%}
  <div id="top_carousel" class="carousel slide">
    <ol class="carousel-indicators">
      {% for item in items -%}
      <li data-target="#top_carousel" data-slide-to="{{ loop.index0 }}" {{ "class='active'" if loop.index0 == 0 }} "></li>
      {%- endfor %}
    </ol>

    <div class="carousel-inner">
      {% for item in items -%}
        <div {{ "class='item active'" if loop.index0 == 0 else "class='item'" }} >
          {{ "<img alt='%s' src='%s'/>"|format(item.caption, media_url(item.source)) }}
          <div class="carousel-caption">
            {{ item.caption }}
          </div>
        </div>
      {%- endfor %}
    </div>
  </div>
{% if items -%}
{%- endif %}
{%- endmacro %}

{% macro render_links(links) -%}
{% if links -%}
  <ul class="nav nav-pills nav-stacked">
    {% for link in links -%}
      <li>
        <a href="{{link.url}}">{{link.title}}</a>
      </li>
    {%- endfor %}
  </ul>

{%- endif %}
{%- endmacro %}

