{% extends "list.j2" %}

{% block page_title %}
<h2 class="title">{{ tag.name }}</h2>
{% endblock %}

{% block main %}
{% for res in walker() %}
<li>
    {{ render_excerpt(res) }}
</li>
{% endblock %}
